<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8 my-4">
    <div class="card mb-4">

      <div class="card-body">
        <h1 class="card-title"><%= @posts.title %></h1>
        <img class="card-img-top" src=<%= @posts.image %> alt="Card image cap" height="300">
        <p> </br>ヘッドホンは、装着タイプによってもいくつか種類があり、一般的なオーバーヘッドタイプのヘッドホンでは、「オーバーイヤー（アラウンドイヤー）型」と「オンイヤー型」の2種類が主流となっています。

          ヘッドホンでもっともポピュラーなタイプのオーバーイヤー型は、装着時に耳全体を覆うため、装着時の安定性が高いのが特徴です。いっぽう、耳全体を覆うという構造上、オンイヤータイプに比べるとやや大型に。また、本体重量が重くなってしまうのも難点です。

          利用用途に合わせて作られたヘッドホンを選ぶというのもアリ
          ヘッドホンには、利用用途に合わせて作られたモデルもいくつかあります。

          たとえば「モニターヘッドホン」と呼ばれる製品は、プロのミュージシャンやスタジオエンジニアなどがレコーディングスタジオで使用することを想定して作られたヘッドホンです。音をしっかりと聴き分けられるよう、高解像度かつ原音に忠実なフラットな特性のサウンドチューニングが施されているものが多いです。また、現場で長期間使われることを想定し、耐久性や付け心地にも配慮されています。ケーブルやイヤーパッドを交換できるなど、メンテナンス性がすぐれているのも特徴です。


          レコーディングスタジオでの使用を想定したモニターヘッドホン。写真は、JVCとビクタースタジオが共同で開発したハイレゾ対応スタジオモニターヘッドホンの「HA-MX100-Z」で、実際にビクタースタジオに導入されています

          また、「DJヘッドホン」と呼ばれる製品は、その名の通り、DJプレイを想定して作られたヘッドホンです。DJプレイ中は片耳だけあてて音を聴くことが多いため、ハウジングが回転式になっているほか、DJプレイ中にケーブルがじゃまにならないように、ケーブルも伸縮自在なカールコードになっているものが多いです。音質面では、大音量の中でリズムの音を聞き取りやすいようにサウンドチューニングが施されています。


          DJプレイを想定して作られたDJヘッドホン。デザインも派手なものが多いです。写真は、パイオニアの「HDJ-1500-N」</p>

          このほか、スピーカーで聴くような立体感のあるサラウンドを楽しめる「サラウンドヘッドホン」や、ゲーミング用途に特化した「ゲーミングヘッドホン」などもあります。利用目的がはっきりしている場合は、こういった製品を選ぶというのもひとつの手です。


          <p>

          </p> バーチャルサラウンド機能を使い、ヘッドホンでシアターセットのような臨場感のあるサラウンド音声を楽しめるサラウンドヘッドホン。写真のソニー「DR-HW700DS」は、9.1chのサラウンド機能を実現しています

          ヘッドホン選びに役立つスペックの見方
          ヘッドホンのパッケージやカタログ、製品ページなどには必ずスペックが書かれています。ここでは、ヘッドホン選びに役立つスペックについて簡単に説明します。

          再生周波数帯域（単位：Hz）
          ヘッドホンが再生できる音の周波数の下限から上限までを表現したもので、単位はHzになります。数値の幅が大きいほど、広いレンジの音を再生できるわけですが、カタログやパッケージなどに表示するスペックについての厳密なルールがなく、実際に聴こえる可聴域を載せているメーカーもあれば、機器で計測した数値を載せているメーカーもあります。あくまでも目安としてとらえ、製品選びの際は実際に試聴するのがいいでしょう。なお、ハイレゾロゴマークのついたヘッドホンは、高域再生性能が40000Hz以上のものになります。

          出力音圧レベル/能率/感度(単位：dB/mW)
          1mWの音を入力したときにヘッドホンから発音する再生音の強さを表す数値で、単位はdB/mWとなっています。同じボリュームであれば、数値が大きいほうがより大きな音量を得ることができます。

          最大入力(単位：mW)
          ヘッドホンに入力できる瞬間的な最大電力を表す数値で、単位はmWです。プレーヤー側の出力を上回っていれば問題ありません。

          インピーダンス（単位：Ω）
          ヘッドホンの電気抵抗の大きさを表す数値で、単位はΩ(オーム)です。インピーダンスが大きいと音が小さく、逆に小さいと音が大きくなります。スマートフォンなどのポータブル機器は出力が小さいため、インピーダンスが大きいヘッドホンだと音量が十分に取れない場合があります。

          1. 屋外での音楽リスニングをさらに快適にする高機能ポータブルヘッドホン
          屋外での利用がメインなら、本体を折りたたんでコンパクトに持ち運びができるポータブルヘッドホンがおすすめ。スマートフォンやDAPとBluetoothを使ってワイヤレスで接続できるモデルや、周りの騒音を打ち消して快適なリスニング環境を構築できるノイズキャンセリング機能搭載モデルなど、屋外での音楽リスニングをさらに快適にする高機能モデルに注目が集まっています。ここでは、注目の高機能モデル3機種をご紹介します。

          1-1.	ソニー「WH-1000XM2」
          機能性とバッテリー駆動時間がさらに向上したソニーノイズキャンセリングヘッドホン最新モデル
          ソニー「WH-1000XM2」
          WH-1000XM2の製品画像
          SONY

          WH-1000XM2

          価格.com最安価格32,775円 （ 発売日：2017年10月7日 ）


          発売以来、価格.comの「ヘッドホン・イヤホン」カテゴリーで常に上位をキープしているソニーのBluetoothヘッドホン「MDR-1000X」。その後継モデルとして、2017年10月に発売されたのが「WH-1000XM2」です。高精度なアクティブノイズキャンセリング機能や、CD音源やMP3など圧縮音源を最大96kHz/24bitにアップサンプリングしてワイヤレスでもハイレゾ相当の高音質な音楽を楽しめる「DSEE HX」、直感的に操作できるハウジング部のタッチセンサー式のコントロールパネルといった「MDR-1000X」の特徴をすべて網羅！ 新たに、スマートフォン専用アプリ「Headphones Connect」との連携に対応し、サウンドを自分好みにチューニングできる機能や、「止まっている」「歩いている」「走っている」「乗り物に乗っている」といったユーザー動きを検知して、ノイズキャンセリング効果や、外音の取り込みのレベルなどを自動で切り替えてくれる機能が使えるようになりました。ノイズキャンセリング機能使用時のバッテリー駆動時間が、「MDR-1000X」の最大20時間から最大30時間に伸び


          <a href= "/posts/<%= @posts.id %>" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on <%= @posts.created_at %> by
          <a href="#">Fanquet</a>
        </div>
      </div>
    </div>
  </div>
</div>
