

<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4"><%= @post.name %></h1>

      <p>



      空気清浄機の性能の違いってどんなもの？空気のキレイさに違いはあるの？

        空気清浄機でも買ってみようかなと思うタイミングは人それぞれかもせれませんが、
      「花粉が辛い！どうにかなんないかなぁ？」
      「赤ちゃんがいるから空気はキレイにしておきたいなぁ」
      「タバコや料理のニオイが残ってるかも・・」
      こんなシーンが多いかもしれませんね。

      空気の汚れやニオイ・乾燥など職場や屋外ではつらい思いをしている方も多いでしょうから、せめてお家の空気くらいはキレイにしておきたいものですよね。

      そこで本日は空気清浄機の基礎知識や選び方のポイント、おすすめ機種の紹介をしたいと思います。ニオイ・乾燥など職場や屋外ではつらい思いをしている方も多いでしょうから、せめてお家の空気くらいはキレイにしておきたいものですよね。

      そこで本日は空気清浄機の基礎知識や選び方のポイント、おすすめ機種の紹介をしたいと思います。

      目次 [非表示]

      1 空気を吸う
      2 空気をキレイにする
      3 ニオイをとる
      4 加湿機能はあった方がいいの？
      5 シャープの特徴
      機種の選び方は意外と簡単？
      空気をキレイにするっていうと、なんだか特別なことをしているように感じる方も多いかもしれませんが、空気清浄機の構造は意外とシンプルです。



      ▶︎空気を吸って
      ▶︎中でホコリやニオイをキャッチして
      ▶︎キレイになった空気を部屋に出す
      やってることはこれだけなんです。

      ホコリやニオイはフィルターに吸着させていて、空気を濾過しているイメージが近いですね。

      空気清浄機にはいろいろな製品があって「どれを選んだらいいかわからない！」と思っている方も多いかと思いますが、少しの基礎知識さえ抑えておけば、空気清浄機は自分でも十分に選べる家電だと言えます。

      そこでまず最初に、どの部分に注目したら良いかを3つの段階に分けて見てみましょう。

      ①空気を吸う
      ホコリやニオイを取るためにには一度空気清浄機の中に入らないといけません。ですから、どれくらい吸う力があるかをチェックします。

      ②ホコリをキャッチする
      本体の中に吸い込んだ空気からホコリやニオイを分離する力がどれくらいあるか？どれくらいキレイな空気にできるのかをチェックします。

      ③ニオイを取る
      空気中のホコリを取ることと、ニオイを取ることは似ているようで少し違います。ニオイに対してどんな対策をしているのかをチェックします。

      それでは各項目ごとにもう少し細かく説明していきますね。
      　

      空気を吸う
      本体にどれくらい空気を吸い込むことができるかを判断するためのポイントは3つあります。


      1 適応畳数
      空気をしっかり吸い込むためにはお部屋の広さと空気清浄機のサイズがあっているかが重要です。

      ここで重要なのが空気清浄機の適応畳数の見方です。空気清浄機の適応畳数を知るにはちょっとした知識が必要になるんですね。

      例としてシャープの人気機種を見てみましょう。

      シャープ KC−H50

      KC-H50-W シャープ 加湿空気清浄機（空清23畳まで/加湿14畳まで　ホワイト系）
      posted with カエレバ

      楽天市場で探す Amazonで探す

      スペック表を見てみると・・
      こんな風に書いてあります。数字がたくさんあってどこをみればいいか迷ってしまいますよね。

      空気清浄としては〜23畳と記載されていますが、一緒についている加湿機能は普通のおうちだと8.5畳ですし、シャープの特徴であるプラズマクラスターは約13畳のようです。

      どうしてこんなに広さがバラバラなんでしょうか？

      これは空気清浄の適応畳数の決め方のルールに原因があります。




      </p>
    </div>
