<link href="../assets/freelancer.css" rel="stylesheet">

<section class="portfolio" id="portfolio">
  <div class="container widen">
    <h2 class="text-center text-secondary mb-0">Hi, my name is Fanquet.</h2>
  </div>
</section>

<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-white">About</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">Fanquetはすべての人々に平等な商品情報を届けるためにつくられたサイトです。</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Fanquet provides an accessible information to every single person to help them make better dicisions.</p>
      </div>
    </div>
  </div>
</section>
