<link href="../assets/contact.css" rel="stylesheet">


<div class="container">
	<div class="row text-center">
			<h1>Contact us</h1>
	</div>
	<div class="row text-center">
			<h4 style="text-align:center">Don't hesitate!</h4>
	</div>
	<div class="row input-container">
			<div class="col-xs-12">
				<div class="styled-input wide">
					<input type="text" required />
					<label>Name</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="styled-input">
					<input type="text" required />
					<label>Email</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="styled-input">
					<input type="text" required />
					<label>Phone Number</label>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea required></textarea>
					<label>Message</label>
				</div>
			</div>
			<div class="col-xs-12 text-center">
				<div class="btn-lrg submit-btn">Send Message</div>
			</div>
	</div>
</div>
