<!DOCTYPE html>
<html lang="ja">
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fanquet</title>

  <!-- Bootstrap core CSS -->
  <link href="../assets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../assets/blog-home.css" rel="stylesheet">


  <!-- Tab Logo -->
  <link href="/assets/logo.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />


</head>




  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/alerts' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
